[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django-celery-beat = "*"
django-celery-results = "*"
psycopg2 = "*"
redis = "*"
requests = "*"
sentry-sdk = "*"
whitenoise = "*"
Django = "*"

[dev-packages]

[requires]
python_version = "3.9"
