[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery-singleton = "*"
certifi = "*"
dj-database-url = "*"
django-admin-numeric-filter = "*"
django-bootstrap4 = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-debug-toolbar = "*"
gevent = "*"
gunicorn = "*"
psycopg2 = "*"
redis = "*"
requests = "*"
sentry-sdk = "*"
whitenoise = "*"
Django = "*"

[dev-packages]

[requires]
python_version = "3.9"
